{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg p-4">
            <h3 class="text-primary mb-4">Editar Película</h3>
            <form method="POST">
                <div class="mb-3">
                    <label class="form-label fw-bold">Título</label>
                    <input type="text" name="titulo" value="{{ peli.titulo }}" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Duración (min)</label>
                    <input type="number" name="duracion" value="{{ peli.duracion }}" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Sinopsis</label>
                    <textarea name="sinopsis" class="form-control" rows="3">{{ peli.sinopsis }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary w-100">Guardar Cambios</button>
                <a href="{{ url_for('admin.dashboard') }}" class="btn btn-link w-100 mt-2">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}